<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../css/main.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type = "text/javascript" rel="script" src="../js/product.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link type="text/css" href="../css/chat.css" rel="stylesheet"/>
    <link type="text/css" href="../css/product.css" rel="stylesheet"/>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container" style="padding-top: 20px; margin:0;max-width: 100%;">
    <input id="username" style="display: none" th:value="${#authorization.getAuthentication()?.getName()}"/>
    <div class="row product-top align-items-start">
        <div class="col-sm">
            <img th:src="@{'/products/' + ${product.imageName} + '/raw'}" class="img-thumbnail rounded img-single-product mx-auto" width="700" height="500">
        </div>

        <div class="col-lg-6">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a id="navLinkProductAbout" class="nav-link active" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a id="navLinkProductUserReviews" class="nav-link" href="#">User Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a id="navLinkSellerInfo" class="nav-link" >Seller info</a>
                        </li>
                        <li class="nav-item ml-auto" >
                            <button th:value="${product.id}" id="btnUpdateProduct" type="button" class="btn btn-primary mx-auto" ><i class="far fa-edit"></i></button>
                        </li>
                        <li class="nav-item" style="margin-left:10px;">
                            <form th:method="delete" th:action="@{'/product/' + ${product.id}}">
                                <button id="btnDeleteProduct" type="input" class="btn btn-danger mx-auto" ><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="product-about">
                        <h5 class="card-title">About</h5>
                        <table class="table table-borderless">
                            <tr>
                                <th class="text-left"><p><strong>Name:</strong></p></th>
                                <td><p th:text="${product.name}"></p></td>
                                <th class="text-left"><p><strong>Category:</strong></p></th>
                                <td><p th:text="${product.category}"></p></td>
                            </tr>
                            <tr>
                                <th class="text-left"><p><strong>Quantity:</strong></p></th>
                                <td><p th:text="${product.quantity}"></p></td>
                                <th class="text-left"><p><strong>Available:</strong></p></th>
                                <td th:switch="${product.available}">
                                    <p th:case = 'true' >Yes</p>
                                    <p th:case = 'false'>No</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left"><p><strong>Price:</strong></p></th>
                                <td><p th:text="${product.price} +' $'"></p></td>
                                <th class="text-left"><p><strong>Location:</strong></p></th>
                                <td><p th:text="${product.locationName}"></p></td>

                            </tr>
                            <tr>
                                <th class="text-left"><p><strong>Description:</strong></p></th>
                                <td colspan="3"><p th:text="${product.description}"></p></td>
                            </tr>
                        </table>
                    </div>
                    <div class="product-review" style="display:none">
                        <h5 class="card-title">User review</h5>
                        <div id="userReviewSection">
                            <div id="userInfo" th:each="userReview : ${userReviews}" class="card mb-3">
                                <div class="row no-gutters p-1">
                                    <div class="col-md-2  align-self-center">
                                        <img th:src="@{'/user/' + ${userReview.user.imageName} + '/raw'}"  class="card-img mx-auto p-1" style="height:80%;">
                                        <p style="font-size:12px; margin:0" th:text="${userReview.user.username}"></p>
                                        <p class="card-text"><small class="text-muted" style="font-size:12px;" th:text="${userReview.review.date}"></small></p>
                                    </div>
                                    <div class="col-md-10  align-self-center">
                                        <div class="card-body pt-0 pb-0">
                                            <p class="card-text"  style="font-size:14px;" th:text="${userReview.review.comment}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters p-1">
                            <textarea th:id="reviewText" placeholder="Leave review" class="p-2" rows="3" style="width:100%"></textarea>
                        </div>
                        <button th:id="${product.id}" class="btn btn-success float-right m-1 button-review">Submit</button>
                    </div>
                    <div class="seller-info" style="display:none">
                        <h5 class="card-title">Seller Info</h5>
                        <table class="table table-borderless">
                            <tr>
                                <td rowspan="2"><img th:src="@{'/user/' + ${user.imageName} + '/raw'}" width="200" height="200"/></td>
                                <th class="text-left"><p><strong>Username:</strong></p></th>
                                <td><p id="sellerUsername" th:text="${user.username}"></p></td>
                            </tr>
                            <tr>
                                <th class="text-left"><p><strong>Email:</strong></p></th>
                                <td><p th:text="${user.email}"></p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <img id="advertisementImagePrimary" th:src="@{'/advertisement/' + ${initialAdvertisements.primaryImage} + '/raw'}" class="card-img  mx-auto p-1 advertisement-image">
            <br/>
            <img id="advertisementImageSecondary" th:src="@{'/advertisement/' + ${initialAdvertisements.secondaryImage} + '/raw'}"   class="card-img mx-auto p-1 advertisement-image">
        </div>
    </div>

    <div class="card" style="border: none" >
        <h5 class="card-header text-center">Similar Products</h5>
        <div class="row align-items-start justify-content-center p-2" style="border: none;" >
                <div th:each="similarProduct : ${similarProducts}" class="card m-2" style="width:20rem">
                    <a th:href="@{'/product/' + ${similarProduct.id}}" >
                        <img th:src="@{'/products/' + ${similarProduct.imageName} + '/raw'}" class="card-img mx-auto p-2" style="width:20rem; height: 15rem;">
                        <div class="card-body p-2 m-2">
                            <table class="table table-borderless m-0 table-similar-products">
                                <tr>
                                    <th class="text-left"><p><strong>Name:</strong></p></th>
                                    <td><p th:text="${similarProduct.name}"></p></td>
                                </tr>
                                <tr>
                                    <th class="text-left"><p><strong>Category:</strong></p></th>
                                    <td><p th:text="${similarProduct.category}"></p></td>
                                </tr>
                                <tr>
                                    <th class="text-left"><p><strong>Price:</strong></p></th>
                                    <td><p th:text="${similarProduct.price} + ' $'"></p></td>
                                </tr>
                                <tr>
                                    <th class="text-left"><p><strong>Available:</strong></p></th>
                                    <td th:switch="${product.available}">
                                        <p th:case = 'true' >Yes</p>
                                        <p th:case = 'false'>No</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </a>
                </div>
        </div>
    </div>

    <form id="formUpdateProduct" th:object="${productDto}">
        <div th:replace="fragments/product-modal :: modal"></div>
    </form>

    <div id="chatSection">
        <div th:replace="fragments/chat :: chat"></div>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</body>
</html>