
.chatwindow {
    background: #fff;
    position: fixed;
    right: 20px;
    bottom: 0px;
    width:330px;
    box-shadow: 2px -5px 10px #ccc;
}

.container-chat {
    display: none;
    flex-direction: column;
    height: 355px;
    margin-top:10px;
    margin-left:10px;
    margin-right: 10px;
}

.chatheader {
    background: #343a40;
    padding: 5px 5px 5px 10px;
    color:#FFFFFF;
}

.replySection {
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display:none;
}

.reply {
    margin: 2px 2px 0px 8px;
    width: 210px;
    min-height: 20px;
    max-height: 80px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 2px 10px;
    resize: none;
    outline: none;
}

.reply:focus {
    box-shadow: inset 0 0 5px #ccc;
}

.send {
    float: right;
    margin: 2px;
    height: 100%;
    border-radius: 15px;
    background: #343a40;
    border: 1px solid #343a40;
    color: #FFFFFF;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.send:hover {
    /*   color: #fff; */
    box-shadow: 0px 2px 6px #999;
}

.conversations {
    overflow-y: auto;
    margin: 0px;
    flex-grow: 1;
}

#chatDisplay{
    background:#ffffff;
    border:none;
    resize: none;
    height:100%!important;
}

.quickReplies {
    clear: both;
    text-align: center;
    margin: 0px 3px;
}

ul {
    margin: 0px;
    list-style-type: none;
    padding: 2px 5px;
}

.conversations li {
    clear: both;
    padding: 5px 10px;
    margin: 5px 3px;
    border-radius: 15px;
}

.me {
    float: right;
    background: #5D9CEC;
    color: white;
    border: 1px solid #4A89DC;
}

.other {
    float: left;
    background: #CCD1D9;
    display: inline-block;
    border: 1px solid #AAB2BD;
}



.timestamp {
    text-align: center;
}

.timestamp div {
    font-size: 11px;
    background: #efefef;
    display: inline-block;
    padding: 3px 7px;
    border: 1px solid #dedede;
    border-radius: 10px;
}

.quick {
    margin: 5px 3px;
    padding: 3px 8px;
    border: 1px solid #3BAFDA;
    color: #3BAFDA;
    font-size: 13px;
    border-radius: 15px;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
}

.quick:hover {
    background: #3BAFDA;
    color: #fff;
}

.minmax {
    float: right;
    cursor: pointer;
    padding: 0px 5px;
}

.message{
    display: inline-block;
    padding:0px 5px;
    word-break: break-all;
    width:100%;
    margin:0;
    font-size:18px;
}

.sender{
    padding:3px 10px;
    border-radius:15px;
    float:left;
    background-color: #A4D9EE;
    border-color: #A4D9EE;
    color:black;
}

.receiver{
    padding:3px 10px;
    border-radius:15px;
    float:right;
    margin-bottom:5px;
    background-color: #F2B4F2;
    border-color: #F2B4F2;
    color:black;
}
