<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>
<body>
<h1>Index</h1>
<div>

    <table>
        <thead>
        <tr>
            <th>Id</th><th>Name</th><th>Image</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="image : ${images}">
            <td th:text="${image.id}"></td>
            <td th:text="${image.name}"></td>
            <td><a href="@{'/images/' + ${image.name} + '/raw'}"><img th:src="@{'/images/' + ${image.name} + '/raw'}" class="thumbnail" /></a></td>
            <td>
                <form th:method="delete" th:action="@{'/images/' + ${image.name}}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <!-- tag::comments[] -->
            <td>
                <ul th:id="'comments-' + ${image.id}">
                    <li th:each="comment : ${image.comments}" th:text="${comment.comment}"></li>
                </ul>
            </td>
            <td>
                <input th:id="'comment-' + ${image.id}" type="text" value="" />
                <button th:id="${image.id}" class="comment">Submit</button>
            </td>
            <!-- end::comments[] -->
        </tr>
        </tbody>
    </table>

    <form method="post" enctype="multipart/form-data" action="/images">
        <p><input type="file" name="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>