<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div id="chatbox" class="chatwindow" th:fragment="chat">
    <div class="chatheader">
        <div id="minmax" class="minmax"><i id="chatHeaderButton" class="fas fa-times"></i></div>
        <div class="title">Chat</div>
    </div>
    <div id="container" class="container-chat">
        <div style="float:left;">
            <input id="username" type="text" />
            <button id="connect">Connect</button>
        </div>
        <div id="chatDisplay" class="conversations" disabled="true" style="overflow-y: auto; height:250px;"></div>
    </div>
    <div class="replySection">
        <textarea name="reply" id="reply" cols="30" rows="1" class="reply"></textarea>
        <button id="send" class="send" >Send</button>
    </div>
</div>
</body>
</html>