<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="#">Reactively</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link my-auto" href="/user-products">My Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-auto pr-2 " sec:authorize="isAuthenticated()">
                <a class="nav-link my-auto" href="/profile"> <p id="logged_username" class="m-0" style="color:white; height:100%; display:flex; align-items:center" th:text="${#authorization.getAuthentication().getName()}"></p></a>
            </li>
            <li class="nav-item pr-2 " sec:authorize="isAuthenticated()">
                <a class="nav-link my-auto" href="/shopping-cart"> <p id="shopping_cart" class="m-0" style="color:white; height:100%; display:flex; align-items:center"><i class="fas fa-shopping-cart"></i></p></a>
            </li>
            <li class="nav-item pr-2" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Logout"/>
                </form>
            </li>
            <li th:if="${#authorization.getAuthentication() == null}" class="nav-item pr-2 ml-auto">
                <a th:href="@{/login}"  class="btn btn-primary">Login</a>
            </li>
            <li th:if="${#authorization.getAuthentication() == null}" class="nav-item pr-2">
                <a th:href="@{/registration}"  class="btn btn-light">Sign in</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>