<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="modal fade" id="modalInsertProduct" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:fragment="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Picture</label>
                        <div class="thumbnail-product">
                            <div class="view-img-product">
                                <img th:src="@{../images/placeholder.jpg}" id="image">
                            </div>
                            <input type="file" id="uploadProductImage" name="image">
                            <button id="btnSelectImageProduct" type="button"
                                    class="btn btn-dark w-100 btn-upload">Select Image
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" id="productName">
                    </div>
                </div>
                <div class="col-lg-4">
                    <input type="number" value="-1" readonly id="productId" name="id" class="d-none">
                    <input type="text" th:value="${#authorization.getAuthentication()?.getName()}" readonly id="productOwner" name="owner" class="d-none" >
                    <div class="form-group">
                        <label>Category</label>
                        <select class="custom-select" name="category" id="productCategory">
                            <option th:each="category : ${categories}" th:value="${category.name}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <select class="custom-select" name="locationName" id="productLocation">
                            <option th:each="location : ${locations}" th:value="${location.country}"
                                    th:text="${location.country}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Available</label>
                        <select class="custom-select" name="available" id="productAvailability">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Price <i class="fas fa-dollar-sign"></i></label>
                        <input type="number" name="price" class="form-control" id="productPrice">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" name="quantity" class="form-control" id="productQuantity">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" id="productDescription" name="description"
                                  class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Base Discount</label>
                        <input type="number" name="baseDiscount" class="form-control"
                               id="productBaseDiscount">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-danger" data-dismiss="modal"><i
                        class="far fa-window-close"></i></button>
                <button id="btnSaveProduct" type="submit" class="btn btn-success"><i
                        class="fas fa-check"></i></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>