<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav id="sidebar" th:fragment="sidebar">
    <div class="sidebar-header">
        <h3>Shopping cart</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#categoryItemPrice" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle menu">
                <i class="fas fa-copy"></i>
                <span>Item/Price</span>
            </a>
            <ul class="list-unstyled collapse show" id="categoryItemPrice" style="padding-left: 30px;">
                <li>
                    <table class="table table-borderless table-striped">
                        <tr th:each="element : ${productQuantity}">
                            <td th:text="${element.product.name} + ' (' + ${element.quantity} +')'"></td>
                            <td th:text="${#numbers.formatDecimal(element.product.price*element.quantity,1,2)}  + ' $'" class="text-right"></td>
                        </tr>
                        <tr>
                            <th>Total: </th>
                            <td class="text-right">
                                <span th:text="${#numbers.formatDecimal(total,1,2)} + ' $'"></span>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="w-100">
                    <form  th:method="post" th:action="@{/shopping-cart/order}">
                        <button type="submit" class="btn btn-primary my-auto float-right pt-2 pb-2 pl-3 pr-3">Buy <i class="fas fa-shopping-cart"></i></button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>